<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>catme copy 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>catme copy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>catme.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>photomaker.xcscheme</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04D9667214246CED00CEA201</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE38D7351460FCC600E500AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE38D8E514611A1600E500AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE38DA8714611E9800E500AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CE38DC2914611EB000E500AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
